      

    </div><!--/.fixed-container-->
    
    <footer>
      <div class="container">
        <div class="row">
          <div class="span2">
            <h4>Menu</h4>
            <ul class="unstyled">
              <li><a href="{{ site.url }}"><small>Home</small></a></li>
              <li><a href="{{ site.url }}/about/"><small>About</small></a></li>
              <li><a href="{{ site.url }}/publications/"><small>Publications</small></a></li>
              <li><a href="{{ site.url }}/research/"><small>Research</small></a></li>
              <li><a href="{{ site.url }}/lab/"><small>The Lab</small></a></li>
              <li><a href="{{ site.url }}/teaching/"><small>Teaching</small></a></li>
              <li><a href="{{ site.url }}/code/dper-scripts/"><small>DPER Scripts</small></a></li>
              <li><a href="{{ site.url }}/code/r-packages/"><small>R Packages</small></a></li>
            </ul>
          </div>
          <div class="span2">
            <h4>R packages</h4>
            <ul class="unstyled">
              <li><a href="{{ site.url }}/code/r-packages/analogue/"><small>analogue</small></a></li>
              <li><a href="{{ site.url }}/code/r-packages/permute/"><small>permute</small></a></li>
              <li><a href="{{ site.url }}/code/r-packages/vegan/"><small>vegan</small></a></li>
              <li><a href="{{ site.url }}/code/r-packages/gratia/"><small>gratia</small></a></li>
              <li><a href="{{ site.url }}/code/r-packages/cocorresp/"><small>cocorresp</small></a></li>
              <li><a href="{{ site.url }}/code/r-packages/coenocliner/"><small>coenocliner</small></a></li>
              <li><a href="{{ site.url }}/code/r-packages/temporalEF/"><small>temporalEF</small></a></li>
              <li><a href="{{ site.url }}/code/r-packages/canadaHCD/"><small>canadaHCD</small></a></li>
              <li><a href="{{ site.url }}/code/r-packages/ggvegan/"><small>ggvegan</small></a></li>
              <li><a href="{{ site.url }}/code/r-packages/pcurve/"><small>pcurve</small></a></li>
            </ul>        
          </div>
          <div class="span6">
            <h4>Fineprint</h4>
            <p><small>Copyright &copy; 2010&ndash;{{ site.time | date: "%Y" }} {{ site.author.name }}. <a href="{{ site.url}}/permissions/">Some Rights Reserved</a>&nbsp;&nbsp;&nbsp;<a rel="license" href="https://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons Licence" style="border-width:0" src="https://licensebuttons.net/l/by/4.0/80x15.png" /></a></small></p>
            <p><small>Icons by <a href="http://www.glyphicons.com/">Glyphicons</a> used under CC-BY licence</small></p>
          </div>
        </div>
      </div>
    </footer>
    
    {% include javascript.html %}

  </body>
</html>
