    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ site.url }}/assets/js/jquery.min.js"></script>
    <script src="{{ site.url }}/assets/js/bootstrap.js"></script>
    <!--<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>-->
    <script type="text/javascript" async
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
    <script>
        jQuery(function ($) {
            $(".addToolTip").tooltip()
        });
    </script>
    {% if page.impactstory %}
		{% include impactstory.html %}
	{% endif %}
    {% if page.altmetric %}
        {% include altmetric.html %}
    {% endif %}
