    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--  <script src="{{ site.url }}/assets/js/jquery.min.js"></script>  -->
    <script src="https://code.jquery.com/jquery-3.0.0.min.js" integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=" crossorigin="anonymous"></script>
    <script src="{{ site.url }}/assets/js/bootstrap.js"></script>
    <!--<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>-->
    <!-- <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML"> -->
    </script>
    <script type="text/javascript" id="MathJax-script" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.0.0/es5/latest?tex-mml-chtml.js">
    </script>
    <script>
        jQuery(function ($) {
            $(".addToolTip").tooltip()
        });
        // Fix suggested by Dependabot as I don't think i can upgrade to jq >=3.5.0 with this version of bootstrap
        jQuery.htmlPrefilter = function( html ) {
	return html;
	};
    </script>
    {% if page.impactstory %}
		{% include impactstory.html %}
	{% endif %}
    {% if page.altmetric %}
        {% include altmetric.html %}
    {% endif %}
