    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="{{ site.url }}">From the bottom of the heap</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li {% if page.active == "home" %}class="active"{% endif %}><a href="{{ site.url }}"><i class="icon-home"></i> Home</a></li>
              <li {% if page.active == "about" %}class="active"{% endif %}><a href="{{ site.url }}/about/"><i class="icon-info-sign"></i> About</a></li>
              <li {% if page.active == "blog" %}class="active"{% endif %}><a href="{{ site.url }}/blog/"><i class="icon-comment"></i> Blog</a></li>
              <li {% if page.active == "publications" %}class="active"{% endif %}><a href="{{ site.url }}/publications/"><i class="icon-file"></i> Publications</a></li>
              <li {% if page.active == "research" %}class="active"{% endif %}><a href="{{ site.url }}/research/"><i class="icon-wrench"></i> Research</a></li>
              <li  {% if page.active == "lab" %}class="active dropdown"{% else %}class="dropdown"{% endif %}>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="icon-filter"></i> The Lab <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><a tabindex="-1" href="{{ site.url }}/lab/">About</a></li>
                  <li><a tabindex="-1" href="{{ site.url }}/lab/research/">Research</a></li>
                  <li><a tabindex="-1" href="{{ site.url }}/lab/members/">Members</a></li>
                  <li><a tabindex="-1" href="{{ site.url }}/lab/publications">Publications</a></li>
                  <li><a tabindex="-1" href="{{ site.url }}/lab/join/">Join the lab</a></li>
                </ul>
              </li>
              <li  {% if page.active == "resources" %}class="active dropdown"{% else %}class="dropdown"{% endif %}>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="icon-filter"></i> Resources <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><a tabindex="-1" href="{{ site.url }}/teaching/">Teaching</a></li>
                  <li><a tabindex="-1" href="{{ site.url }}/workshops/">Workshops</a></li>
                  <li><a tabindex="-1" href="{{ site.url }}/slides/">Slides</a></li>
                </ul>
              </li>
              <li  {% if page.active == "code" %}class="active dropdown"{% else %}class="dropdown"{% endif %}>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-hdd"></i> Code <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li class="dropdown-submenu">
                    <a tabindex="-1" href="{{ site.url }}/code/dper-scripts/">DPER Scripts</a>
                    <ul class="dropdown-menu">
                      <li>
                        <a tabindex="-1" href="{{ site.url }}/code/dper-scripts/chapter-9-statistical-learning/">Chapter 9</a>
                      </li>
                      <li>
                        <a tabindex="-1" href="{{ site.url }}/code/dper-scripts/chapter-15-analogue-methods/">Chapter 15</a>
                      </li>
                      <li>
                        <a tabindex="-1" href="{{ site.url }}/code/dper-scripts/chapter-19-human-impacts/">Chapter 19</a>
                      </li>
                    </ul>
                  </li>
                  <li class="dropdown-submenu">
                    <a tabindex="-1" href="{{ site.url }}/code/r-packages">R Packages</a>
                    <ul class="dropdown-menu">
                      <li>
                        <a tabindex="-1" href="{{ site.url }}/code/r-packages/analogue/">analogue</a>
                      </li>
                      <li>
                        <a tabindex="-1" href="{{ site.url }}/code/r-packages/permute/">permute</a>
                      </li>
                      <li>
                        <a tabindex="-1" href="{{ site.url }}/code/r-packages/vegan/">vegan</a>
                      </li>
                      <li>
                        <a tabindex="-1" href="{{ site.url }}/code/r-packages/gratia/">gratia</a>
                      </li>
                      <li>
                        <a tabindex="-1" href="{{ site.url }}/code/r-packages/cocorresp/">cocorresp</a>
                      </li>
                      <li>
                        <a tabindex="-1" href="{{ site.url }}/code/r-packages/coenocliner/">coenocliner</a>
                      </li>
                      <li>
                        <a tabindex="-1" href="{{ site.url }}/code/r-packages/temporalEF/">temporalEF</a>
                      </li>
                      <li>
                        <a tabindex="-1" href="{{ site.url }}/code/r-packages/canadaHCD/">canadaHCD</a>
                      </li>
                      <li>
                        <a tabindex="-1" href="{{ site.url }}/code/r-packages/ggvegan/">ggvegan</a>
                      </li>
                      <li>
                        <a tabindex="-1" href="{{ site.url }}/code/r-packages/pcurve/">pcurve</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
