/* fira-sans-regular - latin-ext_latin_greek-ext_greek */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Fira Sans Regular'), local('FiraSans-Regular'),
       url('./fonts/fira-sans-v10-latin-ext_latin_greek-ext_greek-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/fira-sans-v10-latin-ext_latin_greek-ext_greek-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fira-sans-italic - latin-ext_latin_greek-ext_greek */
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Fira Sans Italic'), local('FiraSans-Italic'),
       url('./fonts/fira-sans-v10-latin-ext_latin_greek-ext_greek-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/fira-sans-v10-latin-ext_latin_greek-ext_greek-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fira-sans-700 - latin-ext_latin_greek-ext_greek */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Fira Sans Bold'), local('FiraSans-Bold'),
       url('./fonts/fira-sans-v10-latin-ext_latin_greek-ext_greek-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/fira-sans-v10-latin-ext_latin_greek-ext_greek-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fira-sans-700italic - latin-ext_latin_greek-ext_greek */
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Fira Sans Bold Italic'), local('FiraSans-BoldItalic'),
       url('./fonts/fira-sans-v10-latin-ext_latin_greek-ext_greek-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/fira-sans-v10-latin-ext_latin_greek-ext_greek-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* fira-sans-condensed-regular - latin_greek-ext_greek */
@font-face {
  font-family: 'Fira Sans Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Fira Sans Condensed Regular'), local('FiraSansCondensed-Regular'),
       url('./fonts/fira-sans-condensed-v4-latin_greek-ext_greek-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/fira-sans-condensed-v4-latin_greek-ext_greek-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fira-sans-condensed-italic - latin_greek-ext_greek */
@font-face {
  font-family: 'Fira Sans Condensed';
  font-style: italic;
  font-weight: 400;
  src: local('Fira Sans Condensed Italic'), local('FiraSansCondensed-Italic'),
       url('./fonts/fira-sans-condensed-v4-latin_greek-ext_greek-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/fira-sans-condensed-v4-latin_greek-ext_greek-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fira-sans-condensed-700 - latin_greek-ext_greek */
@font-face {
  font-family: 'Fira Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Fira Sans Condensed Bold'), local('FiraSansCondensed-Bold'),
       url('./fonts/fira-sans-condensed-v4-latin_greek-ext_greek-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/fira-sans-condensed-v4-latin_greek-ext_greek-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fira-sans-condensed-700italic - latin_greek-ext_greek */
@font-face {
  font-family: 'Fira Sans Condensed';
  font-style: italic;
  font-weight: 700;
  src: local('Fira Sans Condensed Bold Italic'), local('FiraSansCondensed-BoldItalic'),
       url('./fonts/fira-sans-condensed-v4-latin_greek-ext_greek-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/fira-sans-condensed-v4-latin_greek-ext_greek-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* fira-code-300 - latin-ext_latin_greek-ext_greek */
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 300;
  src: local(''),
       url('./fonts/fira-code-v8-latin-ext_latin_greek-ext_greek-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/fira-code-v8-latin-ext_latin_greek-ext_greek-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fira-code-500 - latin-ext_latin_greek-ext_greek */
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('./fonts/fira-code-v8-latin-ext_latin_greek-ext_greek-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/fira-code-v8-latin-ext_latin_greek-ext_greek-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fira-code-regular - latin-ext_latin_greek-ext_greek */
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('./fonts/fira-code-v8-latin-ext_latin_greek-ext_greek-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/fira-code-v8-latin-ext_latin_greek-ext_greek-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fira-code-600 - latin-ext_latin_greek-ext_greek */
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('./fonts/fira-code-v8-latin-ext_latin_greek-ext_greek-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/fira-code-v8-latin-ext_latin_greek-ext_greek-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fira-code-700 - latin-ext_latin_greek-ext_greek */
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('./fonts/fira-code-v8-latin-ext_latin_greek-ext_greek-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/fira-code-v8-latin-ext_latin_greek-ext_greek-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
    --blue-color: #025196;
    --yellow-color: #fdb338;
}

/* Example usage
#foo {
    color: var(--main-color);
}*/

body {
    font-family: 'Fira Sans';
    font-weight: 300;
}

h1,h2,h3 {
    font-family: 'Fira Sans Condensed';
    font-weight: 700;
    color: var(--blue-color);
}

.massive-subsection h1 {
    font-size: 400px;
    color: var(--yellow-color);
}

.huge-subsection h1 {
    font-size: 250px;
    color: var(--yellow-color);
}

.big-subsection h1 {
    font-size: 175px;
    color: var(--yellow-color);
}

.large-subsection h1 {
    font-size: 135px;
    color: var(--yellow-color);
}

.inverse {
    background-color: var(--blue-color);
}

.subsection h1 {
    font-size: 75px;
    color: var(--yellow-color);
}

.remark-code, .remark-inline-code {
    font-family: 'Fira Code';
    font-weight: 400;
}

.small .remark-code-line,
.small .remark-code-line  {
    font-size: 10px;
}

.small .mjx-chtml {
    font-size: 115% !important;
}

.mjx-chtml{
    font-size: 110% !important;
}

.big .mjx-chtml{
    font-size: 150% !important;
}

.bigger .mjx-chtml{
    font-size: 175% !important;
}

.smaller .remark-code-line,
.smaller .remark-code-line  {
    font-size: 13px;
}

.remark-code {
    font-size: 20px;
}

.remark-slide-content {
    font-size: 30px;
}

.alpha {
    background-color: rgba(0,0,0,0.6);
    padding: 10px;
    border-radius: 10px;
}

.my-title-slide {
    /*background-image: url('./resources/franki-chamaki-682112-unsplash.jpg');*/
    background-position: bottom;
    background-size: cover;
}

.my-title-slide h1 {
    color: var(--yellow-color);
}

.my-title-slide .remark-slide-number {
  display: none;
}

.smallcaps {
    font-variant: small-caps;
}

.small {
    font-size: 0.75em;
}

.smaller {
    font-size: 0.5em;
}

.big {
    font-size: 1.5em;
}

.bigger {
    font-size: 2em;
}

.footnote {
    bottom: 0.5em;
    left: 0.5em;
}

.references {
    position: absolute;
    padding-right: 4em;
    bottom: 0.5em;
    left: 3em;
    font-size: 0.75em;
}

.remark-slide-number {
    position: inherit;
    color: var(--yellow-color);
    background-color: var(--yellow-color);
    text-shadow: none;
}

.remark-slide-number .progress-bar-container {
    position: absolute;
    bottom: 0;
    height: 6px;
    display: block;
    left: 0;
    right: 0;
    text-shadow: none;
}

.remark-slide-number .progress-bar {
    height: 100%;
    background-color: var(--yellow-color);
    text-shadow: none;
    color: var(--yellow-color);
}

.remark-slide-number .inverse .progress-bar {
    height: 100%;
    background-color: var(--yellow-color);
    text-shadow: none;
    color: var(--yellow-color);
}

.center-fig {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a {
    color: var(--yellow-color);
}

a:hover {
    color: var(--yellow-color);
}

a:focus {
    color: var(--yellow-color);
}

a:visited {
    color: var(--yellow-color);
}
