{% include header.html %}
      <article>
      <div class="row">
        <div class="span2">
        
        </div><!--/span-->
        <div class="span8">
          <div class="row">
            <div class="span8">
              <div class="page-header">
                <header>
                  <h1>{{ page.title }} <small>{{ page.subtitle}} </small></h1>
                </header>
              </div>
            </div>
          </div>
          
{{ content }}
            
            </div><!--/span-->
          </div><!--/row-->
        </div><!--/span-->
      </div><!--/row-->
      </article>
  
{% include footer.html %}
