  {% include header.html %}
      <article>
      <div class="row">
        <div class="span2">
          <div class="row">
            <div class="span2">
            {% for tag in page.tags %}
            <span class="label label-inverse">{{ tag }}</span><br>
            {% endfor %}
            </div>
          </div>
        </div><!--/span-->
        <div class="span10">
          <div class="row">
            <div class="span8">
              <div class="page-header">
                <header>
                  <h1>{{ page.title }} {% if page.subtitle %}<small>{{ page.subtitle }}</small>{% endif %}</h1>
                  {% if page.date %}<h4>{{ page.date | date_to_long_string }}{% if page.categories != "" %} <small>posted in: {{ page.categories }}</small>{% endif %}</h4>{% endif %}
                </header>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="span8">
  
            {{ content }}
            
            </div><!--/span-->
            <div class="span2">
              {% if page.rightContent %}
                {{ page.rightContent }}
              {% endif %}
            </div>
          </div><!--/row-->
        </div><!--/span-->
      </div><!--/row-->
      </article>

  {% include footer.html %}
