  {% include header.html %}
      <article>
      <div class="row">
        <div class="span10">
          <div class="page-header">
            <header>
              <h1>{{ page.title }} {% if page.subtitle %}<small>{{ page.subtitle }}</small>{% endif %}</h1>
                  {% if page.date %}<h4>{{ page.date | date_to_long_string }}</h4>{% endif %}
            </header>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="span12">
          <div class="row">
            <div class="span10">
            {{ content }}
            </div>
            <div class="span2">
              {% include social-media-snippet.html %}
              {% include blog-roll-snippet.html %}
              {% if page.rightContent %}
                {{ page.rightContent }}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      </article>

  {% include footer.html %}
