  {% include header.html %}
      <article>
      <div class="row">
        <!-- <div class="span8 offset2"> -->
        <div class="span12">
          <div class="clearfix">
            {% if page.next %}<span class="post-nav"><i class="icon-arrow-left"></i> <a href="{{ site.url }}{{ page.next.url }}">{{ page.next.title }}</a></span>{% endif %}
            {% if page.previous %}<span class="post-nav" style="float: right;"><a href="{{ site.url }}{{ page.previous.url }}">{{ page.previous.title }}</a> <i class="icon-arrow-right"></i></span>{% endif %}
          </div>
          <div class="page-header">
            <header>
              <h1>{{ page.title }} {% if page.subtitle %}<small>{{ page.subtitle }}</small>{% endif %}</h1>
            </header>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="span12">
          <div class="row">
            <div class="span10">
              {% if page.alert %}
                {% include alert.html %}
              {% endif %}
            {{ content }}
            <hr />
            <h3>Comments</h3>
            {% include disqus-comment.html %}
            </div>
            <div class="span2">
              {% include post-metadata.html %}
              {% include category-snippet.html %}
              {% include tag-snippet.html %}
              {% include social-media-snippet.html %}
              {% include blog-roll-snippet.html %}
              {% if page.rightContent %}
                {{ page.rightContent }}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      </article>

  {% include footer.html %}

